<form action="/v1/user/5a069b13bd9143509882c581/avatar" method="post" enctype="multipart/form-data">
|  <p>Select image to upload:</p>
|  <p><input type="file" name="file"></p>
|  <p><input type="submit" value="Click here hoe" name="submit"></p>
| </form>
